.Container{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

@media screen and (min-width: 440px){
    .Container{
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (min-width: 768px){
    .Container{
        padding-right: 48px;
        padding-left: 48px;
    }
}